.man-body {
    background-image: linear-gradient(green, white);
    height: 100%;
    width: 100%;
    text-align: center
}

.progressBar {
    background-color: lightgrey;
    width: 25vw;
    height: 20px;
    
  }

  #logoSignup {
    width: 150px;
    height: 150px; 
}
  
  
  .progress {
    height: 100%;
  }
  

.h3 {
   margin-bottom: 10vh;
   padding-top: 5vh;
   color: white 
}



.form-group {
    display: inline-block;
}

#email {
    width: 300px;
    height: 80px; 
    margin: 0 auto;
}


#usernameS {
    width: 300px;
    height: 80px;
    margin: 0 auto; 
}

#password-input {
    width: 300px;
    height: 80px; 
    margin: 0 auto;
}

#passwordCon-input {
    width: 300px;
    height: 80px; 
    margin: 0 auto;
}

#log-btn {
    width: 270px;
    height: 60px; 
    margin-bottom: 0;
}

.username-input:hover {
    border: 2px green solid;
}
.password-input:hover {
    border: 2px green solid;
}

.signup-div {
    width: "100vw"
}

.signUp {
    color: black;
    border-right: solid black 1px;
    padding-right: 1vw
}

.github-link {
    color: black; 
    padding-left: 1vw
}

.log-btn {
    width: 25vw;
    background-color: rgba(7, 151, 7, 0.671);
    color: white; 
    border: none; 
    border-radius: 3%;
    margin: 5vh auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: .3s ease-in-out;
    border: 5px rgba(0, 128, 0, 0.479) solid;
}
.log-btn:hover {
    background-color: rgba(7, 151, 7, 0.397);
    color: white;
}

@media only screen and (max-width: 500px) {
    #logoSignup {
        width: 100px;
        height: 100px; 
    }
    #usernameS {
        width: 270px;
        height: 60px; 
    }
    #email {
        width: 270px;
        height: 60px; 
    }
    
    #password-input {
        width: 270px;
        height: 60px; 
    }
    
    #passwordCon-input {
        width: 270px;
        height: 60px; 
    }

    #log-btn {
        width: 250px;
        height: 50px; 
        margin-bottom: 0;
    }

  }