.main-body {
    background-image: linear-gradient(green, white);
    height: 100%;
    width: 100%;
    text-align: center
}
.h3 {
   margin-bottom: 30px;
   padding-top: 5vh;
   color: white 

}

#logo {
    width: 250px;
    height: 250px; 
}

.form-group {
    display: inline-block;
    
}

.form-control {
    width: 300px;
    height: 100px; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#username {
    width: 300px;
    height: 70px; 
}

#password {
    width: 300px;
    height: 100px; 
}

.username-input:hover {
    border: 2px green solid;
}
.password-input:hover {
    border: 2px green solid;
}
.username-input:focus{
    outline: none;
}
.password-input:focus{
    outline: none;
}

.signup-div {
    width: 200px;
    margin: 0 auto;
    margin-top: -30px;
}

.signUp {
    color: black;
    border-right: solid black 1px;
    padding-right: 1vw
}

.github-link {
    color: black; 
    padding-left: 1vw
}

.log-btn {
    
    background-color: rgba(7, 151, 7, 0.671);
    color: white; 
    border: none; 
    border-radius: 3%;
    margin: 5vh auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: .3s ease-in-out;
    border: 5px rgba(0, 128, 0, 0.479) solid;
}

#log-btn {
    width: 270px;
    height: 60px; 
    margin-bottom: 0;
}
.log-btn:hover {
    background-color: rgba(7, 151, 7, 0.397);
    color: white;
}

@media only screen and (max-width: 500px) {
    #logo {
        width: 100px;
        height: 100px; 
    }
    #username {
        width: 270px;
        height: 60px; 
    }
    
    #password {
        width: 270px;
        height: 60px; 
    }

    #log-btn {
        width: 250px;
        height: 50px; 
        margin-bottom: 0;
    }

  }