
/* #submit{
    display: none;
    display: block;
}; */

/* const button = {}


export default {
    button: {
      backgroundColor: 'red'
    }
  } */

  /* @media only screen and (max-width: 499px) {
    .butDrop {
      margin-top: 500px;
    }

  } */
